version: "3.8"
services:
  postgres:
    image: "postgres:latest"
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: notion-echo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  # notion-echo:
  #   build: .
  #   container_name: notion-echo
  #   depends_on:
  #     - postgres
  #   environment:
  #     DB_HOST: localhost
  #     DB_USER: postgres
  #     DB_PASSWORD: password
  #     DB_NAME: notion-echo
  #   ports:
  #     - "8080:8080"
volumes:
  postgres_data:
