version: "3.8"
services:
  postgres:
    image: "postgres:latest"
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: notion-echo
    ports:
      - "5434:5434"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: -p 5434
volumes:
  postgres_data:
